Imports

In [34]:
import pandas as pd

Read data

In [2]:
# Global Data on Sustainable Energy (2000-2020)
data = pd.read_csv("global-data-on-sustainable-energy.csv")

Data Cleaning

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3649 entries, 0 to 3648
Data columns (total 21 columns):
 #   Column                                                            Non-Null Count  Dtype
---  ------                                                            --------------  -----
 0   Entity                                                            3649 non-null   object
 1   Year                                                              3649 non-null   int64
 2   Access to electricity (% of population)                           3639 non-null   float64
 3   Access to clean fuels for cooking                                 3480 non-null   float64
 4   Renewable-electricity-generating-capacity-per-capita              2718 non-null   float64
 5   Financial flows to developing countries (US $)                    1560 non-null   float64
 6   Renewable energy share in the total final energy consumption (%)  3455 non-null   float64
 7   Electricity from fossil fuels (TWh)                               3628 non-null   float64
 8   Electricity from nuclear (TWh)                                    3523 non-null   float64
 9   Electricity from renewables (TWh)                                 3628 non-null   float64
 10  Low-carbon electricity (% electricity)                            3607 non-null   float64
 11  Primary energy consumption per capita (kWh/person)                3649 non-null   float64
 12  Energy intensity level of primary energy (MJ/$2017 PPP GDP)       3442 non-null   float64
 13  Value_co2_emissions_kt_by_country                                 3221 non-null   float64
 14  Renewables (% equivalent primary energy)                          1512 non-null   float64
 15  gdp_growth                                                        3332 non-null   float64
 16  gdp_per_capita                                                    3367 non-null   float64
 17  Density\n(P/Km2)                                                  3648 non-null   object
 18  Land Area(Km2)                                                    3648 non-null   float64
 19  Latitude                                                          3648 non-null   float64
 20  Longitude                                                         3648 non-null   float64
dtypes: float64(18), int64(1), object(2)
memory usage: 598.8+ KB

In [4]:
data.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
Year,3649.0,2.010038e+03,6.054228e+00,2000.000000,2005.000000,2.010000e+03,2.015000e+03,2.020000e+03
Access to electricity (% of population),3639.0,7.893370e+01,3.027554e+01,1.252269,59.800890,9.836157e+01,1.000000e+02,1.000000e+02
Access to clean fuels for cooking,3480.0,6.325529e+01,3.904366e+01,0.000000,23.175000,8.315000e+01,1.000000e+02,1.000000e+02
Renewable-electricity-generating-capacity-per-capita,2718.0,1.131375e+02,2.441673e+02,0.000000,3.540000,3.291000e+01,1.122100e+02,3.060190e+03
Financial flows to developing countries (US $),1560.0,9.422400e+07,2.981544e+08,0.000000,260000.000000,5.665000e+06,5.534750e+07,5.202310e+09
Renewable energy share in the total final energy consumption (%),3455.0,3.263816e+01,2.989490e+01,0.000000,6.515000,2.330000e+01,5.524500e+01,9.604000e+01
Electricity from fossil fuels (TWh),3628.0,7.036500e+01,3.480519e+02,0.000000,0.290000,2.970000e+00,2.683750e+01,5.184130e+03
Electricity from nuclear (TWh),3523.0,1.345019e+01,7.300662e+01,0.000000,0.000000,0.000000e+00,0.000000e+00,8.094100e+02
Electricity from renewables (TWh),3628.0,2.396801e+01,1.044311e+02,0.000000,0.040000,1.470000e+00,9.600000e+00,2.184940e+03
Low-carbon electricity (% electricity),3607.0,3.680118e+01,3.431488e+01,0.000000,2.877847,2.786507e+01,6.440379e+01,1.000000e+02
Primary energy consumption per capita (kWh/person),3649.0,2.574398e+04,3.477322e+04,0.000000,3116.737300,1.312057e+04,3.389278e+04,2.625857e+05
Energy intensity level of primary energy (MJ/$2017 PPP GDP),3442.0,5.307345e+00,3.532020e+00,0.110000,3.170000,4.300000e+00,6.027500e+00,3.257000e+01
Value_co2_emissions_kt_by_country,3221.0,1.598665e+05,7.736611e+05,10.000000,2019.999981,1.050000e+04,6.058000e+04,1.070722e+07
Renewables (% equivalent primary energy),1512.0,1.198671e+01,1.499464e+01,0.000000,2.137095,6.290766e+00,1.684164e+01,8.683659e+01
gdp_growth,3332.0,3.441610e+00,5.686720e+00,-62.075920,1.383302,3.559855e+00,5.830099e+00,1.231396e+02
gdp_per_capita,3367.0,1.328377e+04,1.970987e+04,111.927225,1337.813437,4.578633e+03,1.576862e+04,1.235142e+05
Land Area(Km2),3648.0,6.332135e+05,1.585519e+06,21.000000,25713.000000,1.176000e+05,5.131200e+05,9.984670e+06
Latitude,3648.0,1.824639e+01,2.415923e+01,-40.900557,3.202778,1.718988e+01,3.896972e+01,6.496305e+01
Longitude,3648.0,1.482269e+01,6.634815e+01,-175.198242,-11.779889,1.914514e+01,4.619962e+01,1.780650e+02

EAD

Handle missing data

In [5]:
# check nan values
cols_with_nan = {}
for col in data.columns:
    nan_count = data[col].isnull().sum()
    if nan_count > 0:
        cols_with_nan[col] = nan_count

for col, count in cols_with_nan.items():
    print(f"{col} - {count}")

Access to electricity (% of population) - 10
Access to clean fuels for cooking - 169
Renewable-electricity-generating-capacity-per-capita - 931
Financial flows to developing countries (US $) - 2089
Renewable energy share in the total final energy consumption (%) - 194
Electricity from fossil fuels (TWh) - 21
Electricity from nuclear (TWh) - 126
Electricity from renewables (TWh) - 21
Low-carbon electricity (% electricity) - 42
Energy intensity level of primary energy (MJ/$2017 PPP GDP) - 207
Value_co2_emissions_kt_by_country - 428
Renewables (% equivalent primary energy) - 2137
gdp_growth - 317
gdp_per_capita - 282
Density\n(P/Km2) - 1
Land Area(Km2) - 1
Latitude - 1
Longitude - 1

Check the columns that will be used

Electricity from fossil fuels (TWh)

In [6]:
# remove Tuvalu country 
data[data['Electricity from fossil fuels (TWh)'].isnull()]

,Entity,Year,Access to electricity (% of population),Access to clean fuels for cooking,Renewable-electricity-generating-capacity-per-capita,Financial flows to developing countries (US $),Renewable energy share in the total final energy consumption (%),Electricity from fossil fuels (TWh),Electricity from nuclear (TWh),Electricity from renewables (TWh),...,Primary energy consumption per capita (kWh/person),Energy intensity level of primary energy (MJ/$2017 PPP GDP),Value_co2_emissions_kt_by_country,Renewables (% equivalent primary energy),gdp_growth,gdp_per_capita,Density\n(P/Km2),Land Area(Km2),Latitude,Longitude
3397,Tuvalu,2000,94.630680,16.10,0.64,NaN,0.00,NaN,NaN,NaN,...,0.0,3.46,10.0,NaN,-0.970600,1463.166211,393,26.0,-7.109535,177.64933
3398,Tuvalu,2001,94.835820,17.75,0.63,NaN,0.00,NaN,NaN,NaN,...,0.0,4.19,10.0,NaN,1.634108,1392.334348,393,26.0,-7.109535,177.64933
3399,Tuvalu,2002,94.629780,19.80,0.62,NaN,0.00,NaN,NaN,NaN,...,0.0,3.64,10.0,NaN,7.886174,1610.653001,393,26.0,-7.109535,177.64933
3400,Tuvalu,2003,95.225716,22.40,0.62,NaN,0.00,NaN,NaN,NaN,...,0.0,3.51,10.0,NaN,-3.333537,1874.853819,393,26.0,-7.109535,177.64933
3401,Tuvalu,2004,95.415160,25.30,0.61,NaN,0.00,NaN,NaN,NaN,...,0.0,3.44,10.0,NaN,-1.352181,2181.636269,393,26.0,-7.109535,177.64933
3402,Tuvalu,2005,95.604070,28.20,0.60,NaN,0.00,NaN,NaN,NaN,...,0.0,3.57,10.0,NaN,-3.779730,2184.565259,393,26.0,-7.109535,177.64933
3403,Tuvalu,2006,95.794846,31.40,0.59,NaN,0.00,NaN,NaN,NaN,...,0.0,4.67,10.0,NaN,2.138938,2263.575948,393,26.0,-7.109535,177.64933
3404,Tuvalu,2007,96.700000,35.80,0.59,NaN,0.00,NaN,NaN,NaN,...,0.0,5.23,10.0,NaN,6.350565,2645.109505,393,26.0,-7.109535,177.64933
3405,Tuvalu,2008,96.192680,40.90,2.52,30000.0,0.00,NaN,NaN,NaN,...,0.0,3.50,10.0,NaN,7.983261,2936.521547,393,26.0,-7.109535,177.64933
3406,Tuvalu,2009,96.405150,44.65,20.07,10000.0,0.00,NaN,NaN,NaN,...,0.0,4.13,10.0,NaN,-4.432851,2602.619444,393,26.0,-7.109535,177.64933
3407,Tuvalu,2010,96.630270,48.55,19.86,530000.0,0.26,NaN,NaN,NaN,...,0.0,3.88,10.0,NaN,-2.729428,3024.761774,393,26.0,-7.109535,177.64933
3408,Tuvalu,2011,96.870750,52.90,19.95,10000.0,0.26,NaN,NaN,NaN,...,0.0,3.84,10.0,NaN,7.515954,3643.121608,393,26.0,-7.109535,177.64933
3409,Tuvalu,2012,97.671776,56.60,19.73,2320000.0,0.31,NaN,NaN,NaN,...,0.0,3.75,10.0,NaN,-3.835749,3506.308144,393,26.0,-7.109535,177.64933
3410,Tuvalu,2013,97.407680,59.50,19.54,4760000.0,0.83,NaN,NaN,NaN,...,0.0,3.26,10.0,NaN,4.576824,3457.376266,393,26.0,-7.109535,177.64933
3411,Tuvalu,2014,97.703860,62.40,25.33,20310000.0,0.80,NaN,NaN,NaN,...,0.0,3.10,10.0,NaN,1.348013,3398.396750,393,26.0,-7.109535,177.64933
3412,Tuvalu,2015,98.014885,64.20,185.96,8560000.0,3.88,NaN,NaN,NaN,...,0.0,2.64,10.0,NaN,9.142894,3197.772252,393,26.0,-7.109535,177.64933
3413,Tuvalu,2016,97.300000,65.50,197.83,NaN,9.46,NaN,NaN,NaN,...,0.0,2.56,10.0,NaN,3.034723,3253.899536,393,26.0,-7.109535,177.64933
3414,Tuvalu,2017,98.853836,67.55,195.95,NaN,8.74,NaN,NaN,NaN,...,0.0,2.55,10.0,NaN,4.094018,3574.065288,393,26.0,-7.109535,177.64933
3415,Tuvalu,2018,99.065384,68.90,194.52,390000.0,8.32,NaN,NaN,NaN,...,0.0,2.86,10.0,NaN,2.500000,3701.709255,393,26.0,-7.109535,177.64933
3416,Tuvalu,2019,99.700000,69.80,192.02,6160000.0,8.20,NaN,NaN,NaN,...,0.0,2.61,10.0,NaN,9.756098,4055.895610,393,26.0,-7.109535,177.64933
3417,Tuvalu,2020,99.689230,70.60,196.07,NaN,NaN,NaN,NaN,NaN,...,0.0,NaN,NaN,NaN,4.400000,4143.109753,393,26.0,-7.109535,177.64933

Electricity from nuclear (TWh)

In [7]:
# remove Electricity from nuclear (TWh) column because there are nan values in 6 countries
data[data["Electricity from nuclear (TWh)"].isnull()]["Entity"].unique()

array(['Chile', 'Indonesia', 'Kazakhstan', 'Malaysia', 'Saudi Arabia',
       'Tuvalu'], dtype=object)

Electricity from renewables (TWh)

In [8]:
# as Tuvalu will be removed there will be no more nan values in this column
data[data["Electricity from renewables (TWh)"].isnull()]

,Entity,Year,Access to electricity (% of population),Access to clean fuels for cooking,Renewable-electricity-generating-capacity-per-capita,Financial flows to developing countries (US $),Renewable energy share in the total final energy consumption (%),Electricity from fossil fuels (TWh),Electricity from nuclear (TWh),Electricity from renewables (TWh),...,Primary energy consumption per capita (kWh/person),Energy intensity level of primary energy (MJ/$2017 PPP GDP),Value_co2_emissions_kt_by_country,Renewables (% equivalent primary energy),gdp_growth,gdp_per_capita,Density\n(P/Km2),Land Area(Km2),Latitude,Longitude
3397,Tuvalu,2000,94.630680,16.10,0.64,NaN,0.00,NaN,NaN,NaN,...,0.0,3.46,10.0,NaN,-0.970600,1463.166211,393,26.0,-7.109535,177.64933
3398,Tuvalu,2001,94.835820,17.75,0.63,NaN,0.00,NaN,NaN,NaN,...,0.0,4.19,10.0,NaN,1.634108,1392.334348,393,26.0,-7.109535,177.64933
3399,Tuvalu,2002,94.629780,19.80,0.62,NaN,0.00,NaN,NaN,NaN,...,0.0,3.64,10.0,NaN,7.886174,1610.653001,393,26.0,-7.109535,177.64933
3400,Tuvalu,2003,95.225716,22.40,0.62,NaN,0.00,NaN,NaN,NaN,...,0.0,3.51,10.0,NaN,-3.333537,1874.853819,393,26.0,-7.109535,177.64933
3401,Tuvalu,2004,95.415160,25.30,0.61,NaN,0.00,NaN,NaN,NaN,...,0.0,3.44,10.0,NaN,-1.352181,2181.636269,393,26.0,-7.109535,177.64933
3402,Tuvalu,2005,95.604070,28.20,0.60,NaN,0.00,NaN,NaN,NaN,...,0.0,3.57,10.0,NaN,-3.779730,2184.565259,393,26.0,-7.109535,177.64933
3403,Tuvalu,2006,95.794846,31.40,0.59,NaN,0.00,NaN,NaN,NaN,...,0.0,4.67,10.0,NaN,2.138938,2263.575948,393,26.0,-7.109535,177.64933
3404,Tuvalu,2007,96.700000,35.80,0.59,NaN,0.00,NaN,NaN,NaN,...,0.0,5.23,10.0,NaN,6.350565,2645.109505,393,26.0,-7.109535,177.64933
3405,Tuvalu,2008,96.192680,40.90,2.52,30000.0,0.00,NaN,NaN,NaN,...,0.0,3.50,10.0,NaN,7.983261,2936.521547,393,26.0,-7.109535,177.64933
3406,Tuvalu,2009,96.405150,44.65,20.07,10000.0,0.00,NaN,NaN,NaN,...,0.0,4.13,10.0,NaN,-4.432851,2602.619444,393,26.0,-7.109535,177.64933
3407,Tuvalu,2010,96.630270,48.55,19.86,530000.0,0.26,NaN,NaN,NaN,...,0.0,3.88,10.0,NaN,-2.729428,3024.761774,393,26.0,-7.109535,177.64933
3408,Tuvalu,2011,96.870750,52.90,19.95,10000.0,0.26,NaN,NaN,NaN,...,0.0,3.84,10.0,NaN,7.515954,3643.121608,393,26.0,-7.109535,177.64933
3409,Tuvalu,2012,97.671776,56.60,19.73,2320000.0,0.31,NaN,NaN,NaN,...,0.0,3.75,10.0,NaN,-3.835749,3506.308144,393,26.0,-7.109535,177.64933
3410,Tuvalu,2013,97.407680,59.50,19.54,4760000.0,0.83,NaN,NaN,NaN,...,0.0,3.26,10.0,NaN,4.576824,3457.376266,393,26.0,-7.109535,177.64933
3411,Tuvalu,2014,97.703860,62.40,25.33,20310000.0,0.80,NaN,NaN,NaN,...,0.0,3.10,10.0,NaN,1.348013,3398.396750,393,26.0,-7.109535,177.64933
3412,Tuvalu,2015,98.014885,64.20,185.96,8560000.0,3.88,NaN,NaN,NaN,...,0.0,2.64,10.0,NaN,9.142894,3197.772252,393,26.0,-7.109535,177.64933
3413,Tuvalu,2016,97.300000,65.50,197.83,NaN,9.46,NaN,NaN,NaN,...,0.0,2.56,10.0,NaN,3.034723,3253.899536,393,26.0,-7.109535,177.64933
3414,Tuvalu,2017,98.853836,67.55,195.95,NaN,8.74,NaN,NaN,NaN,...,0.0,2.55,10.0,NaN,4.094018,3574.065288,393,26.0,-7.109535,177.64933
3415,Tuvalu,2018,99.065384,68.90,194.52,390000.0,8.32,NaN,NaN,NaN,...,0.0,2.86,10.0,NaN,2.500000,3701.709255,393,26.0,-7.109535,177.64933
3416,Tuvalu,2019,99.700000,69.80,192.02,6160000.0,8.20,NaN,NaN,NaN,...,0.0,2.61,10.0,NaN,9.756098,4055.895610,393,26.0,-7.109535,177.64933
3417,Tuvalu,2020,99.689230,70.60,196.07,NaN,NaN,NaN,NaN,NaN,...,0.0,NaN,NaN,NaN,4.400000,4143.109753,393,26.0,-7.109535,177.64933

Low-carbon electricity (% electricity)

In [9]:
# as there are only two countries with nan values in this column - remove these countries (Tuvalu and Bermuda)
data[data["Low-carbon electricity (% electricity)"].isnull()]

,Entity,Year,Access to electricity (% of population),Access to clean fuels for cooking,Renewable-electricity-generating-capacity-per-capita,Financial flows to developing countries (US $),Renewable energy share in the total final energy consumption (%),Electricity from fossil fuels (TWh),Electricity from nuclear (TWh),Electricity from renewables (TWh),...,Primary energy consumption per capita (kWh/person),Energy intensity level of primary energy (MJ/$2017 PPP GDP),Value_co2_emissions_kt_by_country,Renewables (% equivalent primary energy),gdp_growth,gdp_per_capita,Density\n(P/Km2),Land Area(Km2),Latitude,Longitude
399,Bermuda,2000,100.000000,NaN,NaN,NaN,0.46,0.0,0.0,0.0,...,39297.880,1.52,517.047,NaN,9.317156,56284.168650,1281,54.0,32.299507,-64.790337
400,Bermuda,2001,100.000000,NaN,NaN,NaN,0.54,0.0,0.0,0.0,...,39604.938,1.45,528.048,NaN,7.222436,58883.959430,1281,54.0,32.299507,-64.790337
401,Bermuda,2002,100.000000,NaN,NaN,NaN,0.51,0.0,0.0,0.0,...,41429.880,1.54,557.384,NaN,-1.477791,62583.100200,1281,54.0,32.299507,-64.790337
402,Bermuda,2003,100.000000,NaN,NaN,NaN,0.51,0.0,0.0,0.0,...,41114.773,1.50,561.051,NaN,3.410707,66111.725230,1281,54.0,32.299507,-64.790337
403,Bermuda,2004,100.000000,NaN,NaN,NaN,0.52,0.0,0.0,0.0,...,42390.040,1.51,583.053,NaN,2.321267,70359.319110,1281,54.0,32.299507,-64.790337
404,Bermuda,2005,100.000000,NaN,NaN,NaN,0.49,0.0,0.0,0.0,...,44480.980,1.48,583.053,NaN,1.674206,75882.033860,1281,54.0,32.299507,-64.790337
405,Bermuda,2006,100.000000,NaN,NaN,NaN,0.44,0.0,0.0,0.0,...,50145.137,1.56,652.726,NaN,5.543866,95221.858870,1281,54.0,32.299507,-64.790337
406,Bermuda,2007,100.000000,NaN,NaN,NaN,0.50,0.0,0.0,0.0,...,58163.746,1.67,729.733,NaN,3.345140,104287.387500,1281,54.0,32.299507,-64.790337
407,Bermuda,2008,100.000000,NaN,NaN,NaN,0.46,0.0,0.0,0.0,...,55556.035,1.51,649.059,NaN,-1.865956,106935.486300,1281,54.0,32.299507,-64.790337
408,Bermuda,2009,100.000000,NaN,NaN,NaN,0.43,0.0,0.0,0.0,...,43647.020,1.21,476.710,NaN,-5.626698,101407.764000,1281,54.0,32.299507,-64.790337
409,Bermuda,2010,100.000000,NaN,NaN,NaN,0.43,0.0,0.0,0.0,...,51318.156,1.54,608.722,NaN,-2.502878,101875.284100,1281,54.0,32.299507,-64.790337
410,Bermuda,2011,100.000000,NaN,NaN,NaN,0.42,0.0,0.0,0.0,...,33119.836,1.20,443.707,NaN,-3.742744,97774.162070,1281,54.0,32.299507,-64.790337
411,Bermuda,2012,100.000000,NaN,NaN,NaN,0.44,0.0,0.0,0.0,...,35803.332,1.08,366.700,NaN,-5.305299,98431.865180,1281,54.0,32.299507,-64.790337
412,Bermuda,2013,100.000000,NaN,NaN,NaN,1.47,0.0,0.0,0.0,...,35994.320,1.52,509.713,NaN,-0.279709,99471.638900,1281,54.0,32.299507,-64.790337
413,Bermuda,2014,100.000000,NaN,NaN,NaN,0.43,0.0,0.0,0.0,...,46727.742,1.95,649.059,NaN,-3.701068,98467.683990,1281,54.0,32.299507,-64.790337
414,Bermuda,2015,100.000000,NaN,NaN,NaN,0.55,0.0,0.0,0.0,...,39425.170,1.59,557.384,NaN,0.775530,102005.625600,1281,54.0,32.299507,-64.790337
415,Bermuda,2016,100.000000,NaN,NaN,NaN,1.09,0.0,0.0,0.0,...,50238.902,1.83,612.389,NaN,-0.657206,106885.878500,1281,54.0,32.299507,-64.790337
416,Bermuda,2017,100.000000,NaN,NaN,NaN,0.64,0.0,0.0,0.0,...,49395.460,1.77,NaN,NaN,3.611420,111820.581500,1281,54.0,32.299507,-64.790337
417,Bermuda,2018,100.000000,NaN,NaN,NaN,0.67,0.0,0.0,0.0,...,50863.380,1.97,NaN,NaN,-0.432801,113023.185600,1281,54.0,32.299507,-64.790337
418,Bermuda,2019,100.000000,NaN,NaN,NaN,0.84,0.0,0.0,0.0,...,50639.293,1.65,NaN,NaN,0.459890,117098.446300,1281,54.0,32.299507,-64.790337
419,Bermuda,2020,100.000000,NaN,NaN,NaN,NaN,0.0,0.0,0.0,...,46161.586,NaN,NaN,NaN,-6.344080,107079.479800,1281,54.0,32.299507,-64.790337
3397,Tuvalu,2000,94.630680,16.10,0.64,NaN,0.00,NaN,NaN,NaN,...,0.000,3.46,10.000,NaN,-0.970600,1463.166211,393,26.0,-7.109535,177.649330
3398,Tuvalu,2001,94.835820,17.75,0.63,NaN,0.00,NaN,NaN,NaN,...,0.000,4.19,10.000,NaN,1.634108,1392.334348,393,26.0,-7.109535,177.649330
3399,Tuvalu,2002,94.629780,19.80,0.62,NaN,0.00,NaN,NaN,NaN,...,0.000,3.64,10.000,NaN,7.886174,1610.653001,393,26.0,-7.109535,177.649330
3400,Tuvalu,2003,95.225716,22.40,0.62,NaN,0.00,NaN,NaN,NaN,...,0.000,3.51,10.000,NaN,-3.333537,1874.853819,393,26.0,-7.109535,177.649330
3401,Tuvalu,2004,95.415160,25.30,0.61,NaN,0.00,NaN,NaN,NaN,...,0.000,3.44,10.000,NaN,-1.352181,2181.636269,393,26.0,-7.109535,177.649330
3402,Tuvalu,2005,95.604070,28.20,0.60,NaN,0.00,NaN,NaN,NaN,...,0.000,3.57,10.000,NaN,-3.779730,2184.565259,393,26.0,-7.109535,177.649330
3403,Tuvalu,2006,95.794846,31.40,0.59,NaN,0.00,NaN,NaN,NaN,...,0.000,4.67,10.000,NaN,2.138938,2263.575948,393,26.0,-7.109535,177.649330
3404,Tuvalu,2007,96.700000,35.80,0.59,NaN,0.00,NaN,NaN,NaN,...,0.000,5.23,10.000,NaN,6.350565,2645.109505,393,26.0,-7.109535,177.649330
3405,Tuvalu,2008,96.192680,40.90,2.52,30000.0,0.00,NaN,NaN,NaN,...,0.000,3.50,10.000,NaN,7.983261,2936.521547,393,26.0,-7.109535,177.649330
3406,Tuvalu,2009,96.405150,44.65,20.07,10000.0,0.00,NaN,NaN,NaN,...,0.000,4.13,10.000,NaN,-4.432851,2602.619444,393,26.0,-7.109535,177.649330
3407,Tuvalu,2010,96.630270,48.55,19.86,530000.0,0.26,NaN,NaN,NaN,...,0.000,3.88,10.000,NaN,-2.729428,3024.761774,393,26.0,-7.109535,177.649330
3408,Tuvalu,2011,96.870750,52.90,19.95,10000.0,0.26,NaN,NaN,NaN,...,0.000,3.84,10.000,NaN,7.515954,3643.121608,393,26.0,-7.109535,177.649330
3409,Tuvalu,2012,97.671776,56.60,19.73,2320000.0,0.31,NaN,NaN,NaN,...,0.000,3.75,10.000,NaN,-3.835749,3506.308144,393,26.0,-7.109535,177.649330
3410,Tuvalu,2013,97.407680,59.50,19.54,4760000.0,0.83,NaN,NaN,NaN,...,0.000,3.26,10.000,NaN,4.576824,3457.376266,393,26.0,-7.109535,177.649330
3411,Tuvalu,2014,97.703860,62.40,25.33,20310000.0,0.80,NaN,NaN,NaN,...,0.000,3.10,10.000,NaN,1.348013,3398.396750,393,26.0,-7.109535,177.649330
3412,Tuvalu,2015,98.014885,64.20,185.96,8560000.0,3.88,NaN,NaN,NaN,...,0.000,2.64,10.000,NaN,9.142894,3197.772252,393,26.0,-7.109535,177.649330
3413,Tuvalu,2016,97.300000,65.50,197.83,NaN,9.46,NaN,NaN,NaN,...,0.000,2.56,10.000,NaN,3.034723,3253.899536,393,26.0,-7.109535,177.649330
3414,Tuvalu,2017,98.853836,67.55,195.95,NaN,8.74,NaN,NaN,NaN,...,0.000,2.55,10.000,NaN,4.094018,3574.065288,393,26.0,-7.109535,177.649330
3415,Tuvalu,2018,99.065384,68.90,194.52,390000.0,8.32,NaN,NaN,NaN,...,0.000,2.86,10.000,NaN,2.500000,3701.709255,393,26.0,-7.109535,177.649330
3416,Tuvalu,2019,99.700000,69.80,192.02,6160000.0,8.20,NaN,NaN,NaN,...,0.000,2.61,10.000,NaN,9.756098,4055.895610,393,26.0,-7.109535,177.649330
3417,Tuvalu,2020,99.689230,70.60,196.07,NaN,NaN,NaN,NaN,NaN,...,0.000,NaN,NaN,NaN,4.400000,4143.109753,393,26.0,-7.109535,177.649330

Value_co2_emissions_kt_by_country

In [10]:
# 176 countries with nan values
data[data["Value_co2_emissions_kt_by_country"].isnull()]["Entity"].nunique()

176

In [11]:
data[data["Value_co2_emissions_kt_by_country"].isnull()]

,Entity,Year,Access to electricity (% of population),Access to clean fuels for cooking,Renewable-electricity-generating-capacity-per-capita,Financial flows to developing countries (US $),Renewable energy share in the total final energy consumption (%),Electricity from fossil fuels (TWh),Electricity from nuclear (TWh),Electricity from renewables (TWh),...,Primary energy consumption per capita (kWh/person),Energy intensity level of primary energy (MJ/$2017 PPP GDP),Value_co2_emissions_kt_by_country,Renewables (% equivalent primary energy),gdp_growth,gdp_per_capita,Density\n(P/Km2),Land Area(Km2),Latitude,Longitude
20,Afghanistan,2020,97.700000,33.2,9.35,NaN,NaN,0.12,0.0,0.68,...,702.8880,NaN,NaN,NaN,-2.351101,516.747871,60,652230.0,33.939110,67.709953
41,Albania,2020,100.000000,81.3,NaN,NaN,NaN,0.00,0.0,5.31,...,11158.0030,NaN,NaN,NaN,-3.955398,5246.292306,105,28748.0,41.153332,20.168331
62,Algeria,2020,99.804130,99.7,15.64,NaN,NaN,72.01,0.0,0.72,...,14933.8070,NaN,NaN,0.297899,-5.100000,3306.858208,18,2381741.0,28.033886,1.659626
83,Angola,2020,46.890610,50.2,115.43,NaN,NaN,4.49,0.0,12.10,...,3527.1600,NaN,NaN,NaN,-5.399987,1776.166868,26,1246700.0,-11.202692,17.873887
104,Antigua and Barbuda,2020,100.000000,100.0,167.98,NaN,NaN,0.31,0.0,0.02,...,27785.2270,NaN,NaN,NaN,-20.192371,13992.744480,223,443.0,17.060816,-61.796428
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3604,Yemen,2018,62.000000,61.5,8.77,55730000.0,3.60,2.82,0.0,0.48,...,1170.7261,NaN,NaN,NaN,NaN,NaN,56,527968.0,15.552727,48.516388
3605,Yemen,2019,72.751076,61.3,8.57,1200000.0,3.11,2.93,0.0,0.48,...,1475.9852,NaN,NaN,NaN,NaN,NaN,56,527968.0,15.552727,48.516388
3606,Yemen,2020,73.757930,61.5,8.48,NaN,NaN,2.74,0.0,0.49,...,1092.0021,NaN,NaN,NaN,NaN,NaN,56,527968.0,15.552727,48.516388
3627,Zambia,2020,44.524475,10.4,138.23,NaN,NaN,2.00,0.0,13.10,...,3099.0830,NaN,NaN,NaN,-2.785055,985.132436,25,752618.0,-13.133897,27.849332
3648,Zimbabwe,2020,52.747670,30.4,80.61,30000.0,81.90,3.40,0.0,4.19,...,2680.1318,10.0,NaN,NaN,-6.248748,1214.509820,38,390757.0,-19.015438,29.154857

gdp_growth

In [12]:
# remove these 25 countries from data
data[data["gdp_growth"].isnull()]["Entity"].unique()

array(['Afghanistan', 'Aruba', 'Bahamas', 'Cayman Islands', 'Congo',
       'Czechia', 'Djibouti', 'Egypt', 'Eritrea', 'French Guiana',
       'Gambia', 'Kyrgyzstan', 'Liberia', 'Nauru', 'New Caledonia',
       'Qatar', 'Saint Kitts and Nevis', 'Saint Lucia',
       'Saint Vincent and the Grenadines', 'Sao Tome and Principe',
       'Slovakia', 'Somalia', 'South Sudan', 'Turkmenistan', 'Yemen'],
      dtype=object)

gdp_per_capita

In [13]:
# remove these 22 countries from data
data[data["gdp_per_capita"].isnull()]["Entity"].unique()

array(['Afghanistan', 'Aruba', 'Bahamas', 'Cayman Islands', 'Congo',
       'Czechia', 'Egypt', 'Eritrea', 'French Guiana', 'Gambia',
       'Kyrgyzstan', 'Nauru', 'New Caledonia', 'Saint Kitts and Nevis',
       'Saint Lucia', 'Saint Vincent and the Grenadines',
       'Sao Tome and Principe', 'Slovakia', 'Somalia', 'South Sudan',
       'Turkmenistan', 'Yemen'], dtype=object)

In [14]:
# remove the columns that have the highest values of nan values and will not be used in this project
data = data.drop(['Renewable-electricity-generating-capacity-per-capita', 
                  'Financial flows to developing countries (US $)', 
                  'Renewables (% equivalent primary energy)'], axis=1)

In [15]:
# remove columns that will not be used
data = data.drop(["Access to electricity (% of population)", "Access to clean fuels for cooking",
                  "Renewable energy share in the total final energy consumption (%)",
                  "Electricity from nuclear (TWh)", "Energy intensity level of primary energy (MJ/$2017 PPP GDP)", 
                  "Electricity from nuclear (TWh)"], axis=1)

In [16]:
# remove necessary countries
countries_to_remove = ['Afghanistan', 'Aruba', 'Bahamas', 'Bermuda', 'Cayman Islands', 'Congo',
       'Czechia', 'Djibouti', 'Egypt', 'Eritrea', 'French Guiana', 'Gambia',
       'Kyrgyzstan', 'Liberia', 'Nauru', 'New Caledonia', 'Qatar', 'Saint Kitts and Nevis',
       'Saint Lucia', 'Saint Vincent and the Grenadines',
       'Sao Tome and Principe', 'Slovakia', 'Somalia', 'South Sudan',
       'Turkmenistan', 'Tuvalu', 'Yemen']

In [17]:
data = data[~data['Entity'].isin(countries_to_remove)]

In [18]:
# check again Value_co2_emissions_kt_by_country column
data[data["Value_co2_emissions_kt_by_country"].isnull()]["Entity"].nunique()

149

In [19]:
# check nan values
cols_with_nan = {}
for col in data.columns:
    nan_count = data[col].isnull().sum()
    if nan_count > 0:
        cols_with_nan[col] = nan_count

for col, count in cols_with_nan.items():
    print(f"{col} - {count}")

Value_co2_emissions_kt_by_country - 189

In [20]:
# Countries with the highest co2 emissions
average_co2_emission_by_country = data.groupby('Entity')['Value_co2_emissions_kt_by_country'].mean()
top_10 = average_co2_emission_by_country.nlargest(10)

In [21]:
top_10

Entity
China             7.636642e+06
United States     5.329539e+06
India             1.633979e+06
Japan             1.183734e+06
Germany           7.736445e+05
Canada            5.476445e+05
United Kingdom    4.706040e+05
Mexico            4.446195e+05
Indonesia         4.203340e+05
Saudi Arabia      4.162475e+05
Name: Value_co2_emissions_kt_by_country, dtype: float64

In [22]:
# handle nan value in each country
# China - only 2020 year
data.loc[data["Entity"]=="China"]

,Entity,Year,Electricity from fossil fuels (TWh),Electricity from renewables (TWh),Low-carbon electricity (% electricity),Primary energy consumption per capita (kWh/person),Value_co2_emissions_kt_by_country,gdp_growth,gdp_per_capita,Density\n(P/Km2),Land Area(Km2),Latitude,Longitude
714,China,2000,1113.30,225.56,17.874004,9334.936,3.346530e+06,8.490093,959.372484,153,9596960.0,35.86166,104.195397
715,China,2001,1182.59,280.73,20.137900,9797.812,3.529080e+06,8.335733,1053.108243,153,9596960.0,35.86166,104.195397
716,China,2002,1337.46,291.41,19.137848,10602.087,3.810060e+06,9.133631,1148.508290,153,9596960.0,35.86166,104.195397
717,China,2003,1579.96,287.28,17.304693,12273.320,4.415910e+06,10.038030,1288.643252,153,9596960.0,35.86166,104.195397
718,China,2004,1795.41,357.43,18.513056,14272.745,5.124820e+06,10.113621,1508.668098,153,9596960.0,35.86166,104.195397
719,China,2005,2042.80,404.37,18.296497,16114.158,5.824630e+06,11.394592,1753.417829,153,9596960.0,35.86166,104.195397
720,China,2006,2364.16,446.72,17.502060,17552.816,6.437470e+06,12.720956,2099.229435,153,9596960.0,35.86166,104.195397
721,China,2007,2718.70,500.71,17.151705,18955.008,6.993180e+06,14.230861,2693.970063,153,9596960.0,35.86166,104.195397
722,China,2008,2762.29,665.08,20.981703,19560.700,7.199600e+06,9.650679,3468.304602,153,9596960.0,35.86166,104.195397
723,China,2009,2980.20,664.39,19.771500,20281.068,7.719070e+06,9.398726,3832.236432,153,9596960.0,35.86166,104.195397
724,China,2010,3326.19,786.38,20.564993,21551.547,8.474920e+06,10.635871,4550.453108,153,9596960.0,35.86166,104.195397
725,China,2011,3811.77,792.38,18.748974,23090.885,9.282550e+06,9.550832,5614.352135,153,9596960.0,35.86166,104.195397
726,China,2012,3869.38,999.56,22.102327,23873.234,9.541870e+06,7.863736,6300.615118,153,9596960.0,35.86166,104.195397
727,China,2013,4203.77,1093.37,22.276764,24600.360,9.984570e+06,7.766150,7020.338485,153,9596960.0,35.86166,104.195397
728,China,2014,4345.86,1289.23,24.659735,25072.023,1.000667e+07,7.425764,7636.116601,153,9596960.0,35.86166,104.195397
729,China,2015,4222.76,1393.66,27.040327,25209.490,9.861100e+06,7.041329,8016.431435,153,9596960.0,35.86166,104.195397
730,China,2016,4355.00,1522.79,28.500713,25164.803,9.874660e+06,6.848762,8094.363367,153,9596960.0,35.86166,104.195397
731,China,2017,4643.10,1667.06,29.202260,25987.611,1.009601e+07,6.947201,8816.986905,153,9596960.0,35.86166,104.195397
732,China,2018,4990.28,1835.32,29.917704,27109.420,1.050293e+07,6.749774,9905.342004,153,9596960.0,35.86166,104.195397
733,China,2019,5098.22,2014.57,31.672895,28277.445,1.070722e+07,5.949714,10143.838170,153,9596960.0,35.86166,104.195397
734,China,2020,5184.13,2184.94,32.980618,29133.936,NaN,2.347514,10434.775190,153,9596960.0,35.86166,104.195397

In [141]:
# United States - only 2020 year
data.loc[data["Entity"]=="United States"]

,Entity,Year,Electricity from fossil fuels (TWh),Electricity from renewables (TWh),Low-carbon electricity (% electricity),Primary energy consumption per capita (kWh/person),Value_co2_emissions_kt_by_country,gdp_growth,gdp_per_capita,Density\n(P/Km2),Land Area(Km2),Latitude,Longitude
3502,United States,2000,2697.28,350.93,29.058150,93999.860,5775810.000,4.127484,36334.90878,36,9833517.0,37.09024,-95.712891
3503,United States,2001,2678.68,280.06,28.138706,90772.180,5748260.000,0.998341,37133.24281,36,9833517.0,37.09024,-95.712891
3504,United States,2002,2727.83,336.34,29.040926,91201.060,5593029.785,1.741695,38023.16111,36,9833517.0,37.09024,-95.712891
3505,United States,2003,2756.03,349.18,28.765244,90619.110,5658990.234,2.861211,39496.48588,36,9833517.0,37.09024,-95.712891
3506,United States,2004,2818.28,345.14,28.686348,91504.484,5738290.039,3.798891,41712.80107,36,9833517.0,37.09024,-95.712891
3507,United States,2005,2899.96,353.04,28.129686,90654.530,5753490.234,3.513214,44114.74778,36,9833517.0,37.09024,-95.712891
3508,United States,2006,2878.56,381.16,28.870703,89067.040,5653080.078,2.854972,46298.73144,36,9833517.0,37.09024,-95.712891
3509,United States,2007,2988.24,347.91,27.865068,89395.140,5736319.824,1.876171,47975.96770,36,9833517.0,37.09024,-95.712891
3510,United States,2008,2924.21,377.11,28.808554,86378.650,5558379.883,-0.136580,48382.55845,36,9833517.0,37.09024,-95.712891
3511,United States,2009,2725.41,415.56,30.823996,81376.180,5156430.176,-2.536757,47099.98047,36,9833517.0,37.09024,-95.712891
3512,United States,2010,2882.49,424.48,29.933590,83397.480,5392109.863,2.563767,48466.65760,36,9833517.0,37.09024,-95.712891
3513,United States,2011,2788.93,509.74,31.792154,81962.360,5173600.098,1.550836,49882.55813,36,9833517.0,37.09024,-95.712891
3514,United States,2012,2779.02,492.32,31.223783,79102.340,4956060.059,2.249546,51602.93105,36,9833517.0,37.09024,-95.712891
3515,United States,2013,2746.21,520.38,32.286140,80556.516,5092100.098,1.842081,53106.53677,36,9833517.0,37.09024,-95.712891
3516,United States,2014,2752.01,546.83,32.812420,80725.086,5107209.961,2.525973,55049.98833,36,9833517.0,37.09024,-95.712891
3517,United States,2015,2730.32,556.49,33.145770,79317.370,4990709.961,3.075515,56863.37150,36,9833517.0,37.09024,-95.712891
3518,United States,2016,2656.96,624.91,34.998875,78613.540,4894500.000,1.711427,58021.40050,36,9833517.0,37.09024,-95.712891
3519,United States,2017,2540.17,707.19,37.315506,78289.010,4819370.117,2.332679,60109.65573,36,9833517.0,37.09024,-95.712891
3520,United States,2018,2661.30,733.17,36.659092,80583.340,4975310.059,2.996464,63064.41841,36,9833517.0,37.09024,-95.712891
3521,United States,2019,2588.21,760.76,37.759180,79489.016,4817720.215,2.161177,65279.52903,36,9833517.0,37.09024,-95.712891
3522,United States,2020,2431.90,821.40,39.851800,73236.140,NaN,-3.404592,63593.44362,36,9833517.0,37.09024,-95.712891

In [142]:
# India - only 2020 year
data.loc[data["Entity"]=="India"]

,Entity,Year,Electricity from fossil fuels (TWh),Electricity from renewables (TWh),Low-carbon electricity (% electricity),Primary energy consumption per capita (kWh/person),Value_co2_emissions_kt_by_country,gdp_growth,gdp_per_capita,Density\n(P/Km2),Land Area(Km2),Latitude,Longitude
1534,India,2000,475.35,80.27,16.808134,3518.6821,9.378600e+05,3.840991,443.314194,464,3287263.0,20.593684,78.96288
1535,India,2001,491.01,76.19,16.222763,3469.8364,9.535400e+05,4.823966,451.572997,464,3287263.0,20.593684,78.96288
1536,India,2002,517.51,72.78,15.112197,3519.7168,9.854500e+05,3.803975,470.986787,464,3287263.0,20.593684,78.96288
1537,India,2003,545.36,74.63,14.537790,3583.3396,1.011770e+06,7.860381,546.726613,464,3287263.0,20.593684,78.96288
1538,India,2004,567.86,109.20,18.681980,3826.2053,1.085670e+06,7.922937,627.774242,464,3287263.0,20.593684,78.96288
1539,India,2005,579.32,107.47,17.770964,3987.0566,1.136470e+06,7.923431,714.861015,464,3287263.0,20.593684,78.96288
1540,India,2006,599.24,127.56,19.503513,4136.6675,1.215210e+06,8.060733,806.753281,464,3287263.0,20.593684,78.96288
1541,India,2007,636.68,141.75,20.041193,4423.9287,1.336740e+06,7.660815,1028.334772,464,3287263.0,20.593684,78.96288
1542,India,2008,674.27,138.91,18.606730,4616.3390,1.424380e+06,3.086698,998.522342,464,3287263.0,20.593684,78.96288
1543,India,2009,728.56,134.33,17.181797,4892.3794,1.564880e+06,7.861889,1101.960838,464,3287263.0,20.593684,78.96288
1544,India,2010,771.78,142.61,17.674166,5033.7750,1.659980e+06,8.497585,1357.563727,464,3287263.0,20.593684,78.96288
1545,India,2011,828.16,173.62,19.907156,5236.9770,1.756740e+06,5.241315,1458.104066,464,3287263.0,20.593684,78.96288
1546,India,2012,893.45,165.25,18.170246,5447.3413,1.909440e+06,5.456389,1443.882435,464,3287263.0,20.593684,78.96288
1547,India,2013,924.93,187.90,19.300434,5555.5483,1.972430e+06,6.386106,1449.610451,464,3287263.0,20.593684,78.96288
1548,India,2014,1025.29,202.04,18.758022,5857.2837,2.147110e+06,7.410228,1573.885642,464,3287263.0,20.593684,78.96288
1549,India,2015,1080.44,203.21,18.269842,5988.8335,2.158020e+06,7.996254,1605.605445,464,3287263.0,20.593684,78.96288
1550,India,2016,1155.52,208.21,17.558842,6184.2495,2.195250e+06,8.256306,1732.554242,464,3287263.0,20.593684,78.96288
1551,India,2017,1198.85,234.90,18.509884,6346.3545,2.320410e+06,6.795383,1980.667020,464,3287263.0,20.593684,78.96288
1552,India,2018,1276.32,263.61,19.168070,6633.6650,2.451930e+06,6.532989,1996.915087,464,3287263.0,20.593684,78.96288
1553,India,2019,1273.59,303.16,21.475914,6731.8050,2.456300e+06,4.041554,2100.751461,464,3287263.0,20.593684,78.96288
1554,India,2020,1202.34,315.76,23.060581,6317.0960,NaN,-7.251755,1927.707823,464,3287263.0,20.593684,78.96288

In [143]:
# Japan - only 2020 year
data.loc[data["Entity"]=="Japan"]

,Entity,Year,Electricity from fossil fuels (TWh),Electricity from renewables (TWh),Low-carbon electricity (% electricity),Primary energy consumption per capita (kWh/person),Value_co2_emissions_kt_by_country,gdp_growth,gdp_per_capita,Density\n(P/Km2),Land Area(Km2),Latitude,Longitude
1681,Japan,2000,578.29,104.16,41.492310,49229.383,1182610.000,2.764648,39169.35957,347,377944.0,36.204824,138.252924
1682,Japan,2001,564.95,101.36,41.767937,48662.785,1170380.000,0.386103,34406.18246,347,377944.0,36.204824,138.252924
1683,Japan,2002,605.12,101.10,38.663640,48643.800,1206599.976,0.041962,32820.79364,347,377944.0,36.204824,138.252924
1684,Japan,2003,633.76,114.18,35.062250,48392.920,1214949.951,1.535125,35387.03742,347,377944.0,36.204824,138.252924
1685,Japan,2004,621.60,114.73,38.127705,48887.336,1209849.976,2.186116,38298.98017,347,377944.0,36.204824,138.252924
1686,Japan,2005,634.09,100.57,37.537926,49007.164,1212819.946,1.803901,37812.89502,347,377944.0,36.204824,138.252924
1687,Japan,2006,628.77,112.07,39.095100,48855.340,1189520.020,1.372350,35991.54600,347,377944.0,36.204824,138.252924
1688,Japan,2007,705.37,100.80,34.293114,48292.938,1225069.946,1.483969,35779.02454,347,377944.0,36.204824,138.252924
1689,Japan,2008,663.88,100.79,34.002705,47418.410,1158219.971,-1.224289,39876.30397,347,377944.0,36.204824,138.252924
1690,Japan,2009,611.86,102.28,37.385770,43254.305,1100979.980,-5.693236,41308.99684,347,377944.0,36.204824,138.252924
1691,Japan,2010,689.89,113.92,36.249386,46114.938,1156479.980,4.097918,44968.15623,347,377944.0,36.204824,138.252924
1692,Japan,2011,777.10,116.50,25.776997,43712.980,1213520.020,0.023810,48760.07895,347,377944.0,36.204824,138.252924
1693,Japan,2012,920.39,111.09,12.059049,43428.844,1253609.985,1.374751,49145.28043,347,377944.0,36.204824,138.252924
1694,Japan,2013,897.88,121.48,12.809407,43171.460,1262780.029,2.005100,40898.64790,347,377944.0,36.204824,138.252924
1695,Japan,2014,892.18,136.53,13.271962,42146.168,1217119.995,0.296206,38475.39525,347,377944.0,36.204824,138.252924
1696,Japan,2015,844.23,157.34,15.981131,41622.670,1179439.941,1.560627,34960.63938,347,377944.0,36.204824,138.252924
1697,Japan,2016,832.40,157.70,17.171658,41172.285,1167790.039,0.753827,39400.73936,347,377944.0,36.204824,138.252924
1698,Japan,2017,806.12,175.12,20.106245,41783.035,1155229.980,1.675332,38891.08627,347,377944.0,36.204824,138.252924
1699,Japan,2018,780.61,183.63,22.869198,41694.160,1116150.024,0.558851,39808.16856,347,377944.0,36.204824,138.252924
1700,Japan,2019,735.66,192.72,25.860157,40868.688,1081569.946,0.270305,40777.60870,347,377944.0,36.204824,138.252924
1701,Japan,2020,716.67,205.60,25.666662,38029.270,NaN,-4.585508,40193.25244,347,377944.0,36.204824,138.252924

In [144]:
# Germany - only 2020 year
data.loc[data["Entity"]=="Germany"]

,Entity,Year,Electricity from fossil fuels (TWh),Electricity from renewables (TWh),Low-carbon electricity (% electricity),Primary energy consumption per capita (kWh/person),Value_co2_emissions_kt_by_country,gdp_growth,gdp_per_capita,Density\n(P/Km2),Land Area(Km2),Latitude,Longitude
1282,Germany,2000,367.22,35.47,35.834354,48903.700,830280.0000,2.912503,23635.92922,240,357022.0,51.165691,10.451526
1283,Germany,2001,372.69,37.90,35.951813,49841.387,847680.0000,1.681468,23607.88286,240,357022.0,51.165691,10.451526
1284,Germany,2002,372.64,44.48,35.968105,49257.790,833380.0049,-0.197974,25077.72908,240,357022.0,51.165691,10.451526
1285,Germany,2003,390.81,46.67,35.139576,49300.902,836789.9780,-0.700117,30243.57653,240,357022.0,51.165691,10.451526
1286,Germany,2004,385.24,57.97,36.874874,49342.406,821070.0073,1.175088,34044.05363,240,357022.0,51.165691,10.451526
1287,Germany,2005,386.96,63.40,36.916584,48793.566,802380.0049,0.731707,34507.36881,240,357022.0,51.165691,10.451526
1288,Germany,2006,390.03,72.51,38.071800,50043.030,814409.9731,3.816442,36323.44774,240,357022.0,51.165691,10.451526
1289,Germany,2007,402.40,89.38,36.360330,47958.130,783799.9878,2.976455,41587.21290,240,357022.0,51.165691,10.451526
1290,Germany,2008,390.43,94.28,38.340176,48445.984,789690.0024,0.959879,45427.15168,240,357022.0,51.165691,10.451526
1291,Germany,2009,358.07,95.94,39.200935,45436.277,734809.9976,-5.693836,41485.90165,240,357022.0,51.165691,10.451526
1292,Germany,2010,378.90,105.18,39.341060,47305.820,773070.0073,4.179882,41531.93420,240,357022.0,51.165691,10.451526
1293,Germany,2011,373.16,124.04,38.337990,45571.504,746479.9805,3.925193,46644.77603,240,357022.0,51.165691,10.451526
1294,Germany,2012,377.89,143.04,39.088314,46132.670,760130.0049,0.418498,43858.36306,240,357022.0,51.165691,10.451526
1295,Germany,2013,381.52,152.34,39.551610,47361.547,776150.0244,0.437591,46285.76407,240,357022.0,51.165691,10.451526
1296,Germany,2014,360.28,162.54,41.885640,45327.562,736010.0098,2.209543,47959.99327,240,357022.0,51.165691,10.451526
1297,Germany,2015,359.99,188.79,43.801610,46066.887,742309.9976,1.491932,41086.72967,240,357022.0,51.165691,10.451526
1298,Germany,2016,368.67,189.67,42.661400,46675.777,747150.0244,2.230000,42107.51727,240,357022.0,51.165691,10.451526
1299,Germany,2017,353.37,216.32,45.299610,47112.900,732200.0122,2.680231,44542.29520,240,357022.0,51.165691,10.451526
1300,Germany,2018,334.65,222.07,47.109306,45781.406,707700.0122,1.086025,47950.18081,240,357022.0,51.165691,10.451526
1301,Germany,2019,284.09,240.33,52.611385,44467.746,657400.0244,1.055508,46794.89929,240,357022.0,51.165691,10.451526
1302,Germany,2020,251.40,251.48,55.681694,41377.680,NaN,-4.569617,46208.42947,240,357022.0,51.165691,10.451526

In [145]:
# Canada - only 2020 year
data.loc[data["Entity"]=="Canada"]

,Entity,Year,Electricity from fossil fuels (TWh),Electricity from renewables (TWh),Low-carbon electricity (% electricity),Primary energy consumption per capita (kWh/person),Value_co2_emissions_kt_by_country,gdp_growth,gdp_per_capita,Density\n(P/Km2),Land Area(Km2),Latitude,Longitude
609,Canada,2000,155.56,363.70,73.563100,118875.336,514220.0000,4.917763,24271.00206,4,9984670.0,56.130366,-106.346771
610,Canada,2001,159.93,339.58,72.058280,115218.680,506620.0000,1.405528,23822.06012,4,9984670.0,56.130366,-106.346771
611,Canada,2002,155.12,357.06,73.435170,117915.380,524349.9756,3.422146,24255.33858,4,9984670.0,56.130366,-106.346771
612,Canada,2003,157.35,343.88,72.509520,117365.120,544539.9780,3.811090,28300.46310,4,9984670.0,56.130366,-106.346771
613,Canada,2004,148.86,347.68,74.440690,118078.050,536419.9829,3.914029,32143.68141,4,9984670.0,56.130366,-106.346771
614,Canada,2005,150.78,368.86,75.138100,117744.770,549030.0293,4.995861,36382.50792,4,9984670.0,56.130366,-106.346771
615,Canada,2006,139.71,360.48,76.425420,115946.310,540530.0293,4.165818,40504.06073,4,9984670.0,56.130366,-106.346771
616,Canada,2007,149.36,375.42,75.633390,119158.600,571630.0049,6.868609,44659.89514,4,9984670.0,56.130366,-106.346771
617,Canada,2008,141.33,385.21,77.013530,116479.150,550469.9707,1.007623,46710.50558,4,9984670.0,56.130366,-106.346771
618,Canada,2009,129.76,380.24,78.196360,110665.805,521320.0073,-2.928400,40876.31015,4,9984670.0,56.130366,-106.346771
619,Canada,2010,130.08,366.21,77.642570,110485.930,537010.0098,3.089495,47562.08343,4,9984670.0,56.130366,-106.346771
620,Canada,2011,131.30,391.95,78.529620,113449.320,549289.9780,3.146881,52223.69611,4,9984670.0,56.130366,-106.346771
621,Canada,2012,124.20,398.58,79.714830,112586.700,546210.0220,1.762223,52669.08996,4,9984670.0,56.130366,-106.346771
622,Canada,2013,122.87,417.28,80.733230,114051.086,555659.9731,2.329123,52635.17496,4,9984670.0,56.130366,-106.346771
623,Canada,2014,122.75,412.13,80.702415,113198.414,561679.9927,2.870036,50955.99832,4,9984670.0,56.130366,-106.346771
624,Canada,2015,125.70,417.20,80.327095,112891.760,558700.0122,0.659177,43596.13554,4,9984670.0,56.130366,-106.346771
625,Canada,2016,122.35,426.84,81.027480,110180.790,556830.0171,1.001394,42315.60371,4,9984670.0,56.130366,-106.346771
626,Canada,2017,113.70,435.43,82.363890,110509.586,568080.0171,3.039880,45129.35644,4,9984670.0,56.130366,-106.346771
627,Canada,2018,112.47,428.39,82.312970,110059.280,580090.0269,2.777041,46548.52036,4,9984670.0,56.130366,-106.346771
628,Canada,2019,110.65,421.80,82.378334,107980.760,580210.0220,1.879592,46338.34096,4,9984670.0,56.130366,-106.346771
629,Canada,2020,102.19,429.24,83.625496,100497.280,NaN,-5.233024,43294.64816,4,9984670.0,56.130366,-106.346771

In [146]:
# United Kingdom - only 2020 year
data.loc[data["Entity"]=="United Kingdom"]

,Entity,Year,Electricity from fossil fuels (TWh),Electricity from renewables (TWh),Low-carbon electricity (% electricity),Primary energy consumption per capita (kWh/person),Value_co2_emissions_kt_by_country,gdp_growth,gdp_per_capita,Density\n(P/Km2),Land Area(Km2),Latitude,Longitude
3481,United Kingdom,2000,279.34,9.98,25.385971,45275.645,530890.0000,3.672369,28223.06757,281,243610.0,55.378051,-3.435973
3482,United Kingdom,2001,282.72,9.56,26.061146,45559.023,545260.0000,2.072656,27806.44882,281,243610.0,55.378051,-3.435973
3483,United Kingdom,2002,285.62,11.13,25.735828,44332.900,530789.9780,2.123223,30049.89632,281,243610.0,55.378051,-3.435973
3484,United Kingdom,2003,296.15,10.62,25.112528,44750.703,543039.9780,3.029890,34487.46757,281,243610.0,55.378051,-3.435973
3485,United Kingdom,2004,297.15,14.14,24.058882,44856.600,543080.0171,2.355630,40371.71083,281,243610.0,55.378051,-3.435973
3486,United Kingdom,2005,296.87,16.93,24.922867,44937.305,540919.9829,2.593280,42132.09072,281,243610.0,55.378051,-3.435973
3487,United Kingdom,2006,299.88,18.11,23.779991,44057.820,542059.9976,2.584105,44654.09692,281,243610.0,55.378051,-3.435973
3488,United Kingdom,2007,310.26,19.69,21.049417,42517.130,530500.0000,2.269487,50653.25691,281,243610.0,55.378051,-3.435973
3489,United Kingdom,2008,310.50,21.85,19.317118,41451.902,515340.0269,-0.239638,47549.34863,281,243610.0,55.378051,-3.435973
3490,United Kingdom,2009,278.73,25.25,25.289482,39040.560,466489.9902,-4.247356,38952.21103,281,243610.0,55.378051,-3.435973
3491,United Kingdom,2010,290.59,26.18,23.308966,39540.008,482440.0024,2.131438,39688.61497,281,243610.0,55.378051,-3.435973
3492,United Kingdom,2011,260.88,35.20,28.537775,37007.074,445589.9963,1.457563,42284.88449,281,243610.0,55.378051,-3.435973
3493,United Kingdom,2012,249.25,41.24,30.934633,37292.910,467779.9988,1.469888,42686.80005,281,243610.0,55.378051,-3.435973
3494,United Kingdom,2013,231.56,53.21,34.841580,36881.977,453760.0098,1.890018,43713.81412,281,243610.0,55.378051,-3.435973
3495,United Kingdom,2014,206.94,64.52,38.265564,34583.770,415600.0061,2.991165,47787.24130,281,243610.0,55.378051,-3.435973
3496,United Kingdom,2015,182.43,82.57,45.598500,34890.320,401079.9866,2.622597,45404.56777,281,243610.0,55.378051,-3.435973
3497,United Kingdom,2016,181.56,82.99,46.009277,34296.684,380809.9976,2.263464,41499.55570,281,243610.0,55.378051,-3.435973
3498,United Kingdom,2017,165.91,98.85,50.489407,34098.812,367000.0000,2.134453,40857.75558,281,243610.0,55.378051,-3.435973
3499,United Kingdom,2018,155.41,110.03,52.977306,33771.496,360730.0110,1.650925,43646.95197,281,243610.0,55.378051,-3.435973
3500,United Kingdom,2019,144.99,120.48,54.923054,32893.760,348920.0134,1.671944,43070.49836,281,243610.0,55.378051,-3.435973
3501,United Kingdom,2020,124.78,131.74,59.403976,29425.540,NaN,-9.396160,41059.16881,281,243610.0,55.378051,-3.435973

In [147]:
# Mexico - only 2020 year
data.loc[data["Entity"]=="Mexico"]

,Entity,Year,Electricity from fossil fuels (TWh),Electricity from renewables (TWh),Low-carbon electricity (% electricity),Primary energy consumption per capita (kWh/person),Value_co2_emissions_kt_by_country,gdp_growth,gdp_per_capita,Density\n(P/Km2),Land Area(Km2),Latitude,Longitude
2143,Mexico,2000,141.80,44.51,26.952402,17300.662,379180.0000,4.942454,7157.814500,66,1964375.0,23.634501,-102.552784
2144,Mexico,2001,153.32,39.56,23.785852,16898.290,378830.0000,-0.404390,7544.568723,66,1964375.0,23.634501,-102.552784
2145,Mexico,2002,159.81,35.67,21.944904,17044.275,386000.0000,-0.039844,7593.137345,66,1964375.0,23.634501,-102.552784
2146,Mexico,2003,160.45,32.11,20.781080,16996.574,404690.0024,1.446383,7075.369643,66,1964375.0,23.634501,-102.552784
2147,Mexico,2004,173.66,38.19,21.271194,17731.264,414100.0061,3.920591,7484.486399,66,1964375.0,23.634501,-102.552784
2148,Mexico,2005,178.76,42.29,22.738472,19153.719,432190.0024,2.307807,8277.671564,66,1964375.0,23.634501,-102.552784
2149,Mexico,2006,182.76,43.63,22.817688,19171.469,448299.9878,4.495078,9068.294218,66,1964375.0,23.634501,-102.552784
2150,Mexico,2007,191.83,42.14,21.355362,19098.814,457119.9951,2.291446,9642.680517,66,1964375.0,23.634501,-102.552784
2151,Mexico,2008,184.51,53.22,25.326805,19633.797,459549.9878,1.143585,10016.571210,66,1964375.0,23.634501,-102.552784
2152,Mexico,2009,194.75,40.59,20.655940,19065.637,448369.9951,-5.285744,8002.972178,66,1964375.0,23.634501,-102.552784
2153,Mexico,2010,207.38,51.37,21.568775,18870.824,462869.9951,5.118118,9271.398396,66,1964375.0,23.634501,-102.552784
2154,Mexico,2011,219.88,50.70,21.538681,19447.846,478399.9939,3.663008,10203.421300,66,1964375.0,23.634501,-102.552784
2155,Mexico,2012,229.14,47.20,19.529411,19349.783,486450.0122,3.642323,10241.727830,66,1964375.0,23.634501,-102.552784
2156,Mexico,2013,231.23,44.67,19.510582,19108.690,475739.9902,1.354092,10725.183590,66,1964375.0,23.634501,-102.552784
2157,Mexico,2014,223.43,57.46,23.005617,18757.031,462239.9902,2.849773,10928.916010,66,1964375.0,23.634501,-102.552784
2158,Mexico,2015,234.28,52.42,21.350880,18335.252,471630.0049,3.293152,9616.645558,66,1964375.0,23.634501,-102.552784
2159,Mexico,2016,239.78,52.97,20.869911,18538.975,473309.9976,2.630532,8744.515559,66,1964375.0,23.634501,-102.552784
2160,Mexico,2017,242.69,55.88,21.495113,18689.648,471579.9866,2.113129,9287.849587,66,1964375.0,23.634501,-102.552784
2161,Mexico,2018,259.92,58.78,21.715560,18269.648,452570.0073,2.194995,9686.984927,66,1964375.0,23.634501,-102.552784
2162,Mexico,2019,248.20,59.00,21.969315,17903.295,449269.9890,-0.176599,9950.450080,66,1964375.0,23.634501,-102.552784
2163,Mexico,2020,245.46,69.19,24.594496,16382.680,NaN,-8.309035,8329.271313,66,1964375.0,23.634501,-102.552784

In [148]:
# Indonesia - only 2020 year
data.loc[data["Entity"]=="Indonesia"]

,Entity,Year,Electricity from fossil fuels (TWh),Electricity from renewables (TWh),Low-carbon electricity (% electricity),Primary energy consumption per capita (kWh/person),Value_co2_emissions_kt_by_country,gdp_growth,gdp_per_capita,Density\n(P/Km2),Land Area(Km2),Latitude,Longitude
1555,Indonesia,2000,78.43,19.60,19.993880,5435.4355,280650.0000,4.920068,780.190205,151,1904569.0,-0.789275,113.921327
1556,Indonesia,2001,83.96,22.19,20.904380,5740.4346,302060.0000,3.643466,748.257609,151,1904569.0,-0.789275,113.921327
1557,Indonesia,2002,92.03,21.00,18.579138,5815.3860,305640.0146,4.499475,900.177588,151,1904569.0,-0.789275,113.921327
1558,Indonesia,2003,97.57,19.82,16.883892,6224.9414,333890.0146,4.780369,1065.648520,151,1904569.0,-0.789275,113.921327
1559,Indonesia,2004,103.80,20.97,16.806925,6087.6787,341239.9902,5.030874,1150.261367,151,1904569.0,-0.789275,113.921327
1560,Indonesia,2005,110.22,22.66,17.052980,6186.4365,342149.9939,5.692571,1263.287332,151,1904569.0,-0.789275,113.921327
1561,Indonesia,2006,116.80,21.18,15.350051,6211.2920,364470.0012,5.500952,1589.801489,151,1904569.0,-0.789275,113.921327
1562,Indonesia,2007,124.10,24.29,16.369028,6579.2300,379959.9915,6.345022,1860.002811,151,1904569.0,-0.789275,113.921327
1563,Indonesia,2008,129.55,26.34,16.896530,6569.1010,376140.0146,6.013704,2166.854231,151,1904569.0,-0.789275,113.921327
1564,Indonesia,2009,136.05,26.79,16.451733,6662.8240,391079.9866,4.628871,2261.247309,151,1904569.0,-0.789275,113.921327
1565,Indonesia,2010,142.88,34.63,19.508760,7121.8190,415519.9890,6.223854,3122.362673,151,1904569.0,-0.789275,113.921327
1566,Indonesia,2011,161.41,30.46,15.875333,7429.8623,475309.9976,6.169784,3643.047176,151,1904569.0,-0.789275,113.921327
1567,Indonesia,2012,177.83,31.11,14.889442,7574.4570,481510.0098,6.030051,3694.359340,151,1904569.0,-0.789275,113.921327
1568,Indonesia,2013,189.66,35.50,15.766565,7225.1826,447940.0024,5.557264,3623.927241,151,1904569.0,-0.789275,113.921327
1569,Indonesia,2014,203.11,34.41,14.487201,7235.5580,483910.0037,5.006668,3491.637491,151,1904569.0,-0.789275,113.921327
1570,Indonesia,2015,209.71,33.56,13.795372,7266.8945,488549.9878,4.876322,3331.695115,151,1904569.0,-0.789275,113.921327
1571,Indonesia,2016,217.97,39.58,15.367891,7212.0700,482510.0098,5.033069,3562.816334,151,1904569.0,-0.789275,113.921327
1572,Indonesia,2017,222.64,43.17,16.240925,7388.5230,517320.0073,5.069786,3837.578024,151,1904569.0,-0.789275,113.921327
1573,Indonesia,2018,235.41,48.38,17.047817,8026.8910,576989.9902,5.174292,3893.859578,151,1904569.0,-0.789275,113.921327
1574,Indonesia,2019,247.39,48.04,16.261044,8474.4795,619840.0269,5.018160,4135.201531,151,1904569.0,-0.789275,113.921327
1575,Indonesia,2020,238.91,52.91,18.131039,7771.0420,NaN,-2.069543,3869.588427,151,1904569.0,-0.789275,113.921327

In [149]:
# Saudi Arabia - only 2020 year
data.loc[data["Entity"]=="Saudi Arabia"]

,Entity,Year,Electricity from fossil fuels (TWh),Electricity from renewables (TWh),Low-carbon electricity (% electricity),Primary energy consumption per capita (kWh/person),Value_co2_emissions_kt_by_country,gdp_growth,gdp_per_capita,Density\n(P/Km2),Land Area(Km2),Latitude,Longitude
2871,Saudi Arabia,2000,138.68,0.00,0.000000,61950.850,249660.0000,5.625416,9171.331476,16,2149690.0,23.885942,45.079162
2872,Saudi Arabia,2001,146.09,0.00,0.000000,64399.926,254090.0000,-1.210744,8684.645762,16,2149690.0,23.885942,45.079162
2873,Saudi Arabia,2002,154.91,0.00,0.000000,65480.074,272250.0000,-2.819174,8695.396483,16,2149690.0,23.885942,45.079162
2874,Saudi Arabia,2003,166.58,0.00,0.000000,67781.130,284829.9866,11.242061,9609.968686,16,2149690.0,23.885942,45.079162
2875,Saudi Arabia,2004,173.41,0.00,0.000000,71949.190,299890.0146,7.958442,11185.137040,16,2149690.0,23.885942,45.079162
2876,Saudi Arabia,2005,191.05,0.00,0.000000,74232.790,315290.0085,5.573850,13791.454760,16,2149690.0,23.885942,45.079162
2877,Saudi Arabia,2006,196.31,0.00,0.000000,74860.330,335440.0024,2.788402,15384.738360,16,2149690.0,23.885942,45.079162
2878,Saudi Arabia,2007,204.43,0.00,0.000000,73638.340,354619.9951,1.847130,16516.631780,16,2149690.0,23.885942,45.079162
2879,Saudi Arabia,2008,204.20,0.00,0.000000,77575.414,389720.0012,6.249773,20078.260070,16,2149690.0,23.885942,45.079162
2880,Saudi Arabia,2009,217.31,0.00,0.000000,77417.270,406529.9988,-2.059249,16113.143710,16,2149690.0,23.885942,45.079162
2881,Saudi Arabia,2010,240.06,0.00,0.000000,83337.160,446130.0049,5.039484,19262.547600,16,2149690.0,23.885942,45.079162
2882,Saudi Arabia,2011,250.07,0.01,0.003999,84816.250,463769.9890,9.996847,23745.880580,16,2149690.0,23.885942,45.079162
2883,Saudi Arabia,2012,271.68,0.03,0.011041,88062.086,492470.0012,5.411445,25243.602000,16,2149690.0,23.885942,45.079162
2884,Saudi Arabia,2013,284.02,0.04,0.014082,86753.600,503209.9915,2.699255,24845.124660,16,2149690.0,23.885942,45.079162
2885,Saudi Arabia,2014,311.81,0.05,0.016033,91258.060,540520.0195,3.652482,24464.212560,16,2149690.0,23.885942,45.079162
2886,Saudi Arabia,2015,338.34,0.05,0.014776,93332.540,565190.0024,4.106409,20627.926930,16,2149690.0,23.885942,45.079162
2887,Saudi Arabia,2016,337.38,0.05,0.014818,95158.550,561229.9805,1.670625,19878.763840,16,2149690.0,23.885942,45.079162
2888,Saudi Arabia,2017,354.30,0.07,0.019753,93054.375,545070.0073,-0.741503,20802.466310,16,2149690.0,23.885942,45.079162
2889,Saudi Arabia,2018,334.70,0.16,0.047781,88573.470,521260.0098,2.434111,23337.017550,16,2149690.0,23.885942,45.079162
2890,Saudi Arabia,2019,335.24,0.21,0.062602,82989.266,523780.0293,0.331436,23139.797980,16,2149690.0,23.885942,45.079162
2891,Saudi Arabia,2020,337.82,0.21,0.062125,80309.990,NaN,-4.106583,20110.316190,16,2149690.0,23.885942,45.079162

All countries with the highest CO2 emissions contain nan values only in the year 2020. This year will be eliminated from dataframe.

In [23]:
data = data[data['Year'] != 2020]

In [24]:
data

,Entity,Year,Electricity from fossil fuels (TWh),Electricity from renewables (TWh),Low-carbon electricity (% electricity),Primary energy consumption per capita (kWh/person),Value_co2_emissions_kt_by_country,gdp_growth,gdp_per_capita,Density\n(P/Km2),Land Area(Km2),Latitude,Longitude
21,Albania,2000,0.14,4.55,97.014930,9029.4375,3170.000000,6.946217,1126.683340,105,28748.0,41.153332,20.168331
22,Albania,2001,0.13,3.52,96.438354,8635.5320,3230.000000,8.293313,1281.659826,105,28748.0,41.153332,20.168331
23,Albania,2002,0.16,3.48,95.604390,9443.5550,3759.999990,4.536524,1425.124219,105,28748.0,41.153332,20.168331
24,Albania,2003,0.10,5.12,98.084300,10756.6120,4070.000172,5.528637,1846.120121,105,28748.0,41.153332,20.168331
25,Albania,2004,0.13,5.41,97.653430,11586.9510,4250.000000,5.514668,2373.581292,105,28748.0,41.153332,20.168331
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3643,Zimbabwe,2015,4.02,5.37,57.188496,3860.9202,12430.000310,1.779873,1445.069702,38,390757.0,-19.015438,29.154857
3644,Zimbabwe,2016,3.50,3.32,48.680350,3227.6802,11020.000460,0.755869,1464.588957,38,390757.0,-19.015438,29.154857
3645,Zimbabwe,2017,3.05,4.30,58.503407,3068.0115,10340.000150,4.709492,1235.189032,38,390757.0,-19.015438,29.154857
3646,Zimbabwe,2018,3.73,5.46,59.412407,3441.9858,12380.000110,4.824211,1254.642265,38,390757.0,-19.015438,29.154857
3647,Zimbabwe,2019,3.66,4.58,55.582527,3003.6553,11760.000230,-6.144236,1316.740657,38,390757.0,-19.015438,29.154857

In [26]:
# check missing values
data.isna().sum()

Entity                                                 0
Year                                                   0
Electricity from fossil fuels (TWh)                    0
Electricity from renewables (TWh)                      0
Low-carbon electricity (% electricity)                 0
Primary energy consumption per capita (kWh/person)     0
Value_co2_emissions_kt_by_country                     40
gdp_growth                                             0
gdp_per_capita                                         0
Density\n(P/Km2)                                       0
Land Area(Km2)                                         0
Latitude                                               0
Longitude                                              0
dtype: int64

In [28]:
# check which countries still have nan values
data[data["Value_co2_emissions_kt_by_country"].isnull()]["Entity"].unique()

array(['Puerto Rico', 'Turkey'], dtype=object)

In [30]:
# remove Puerto Rico and Turkey countries
countries_to_remove = ["Puerto Rico", "Turkey"]
data = data[~data['Entity'].isin(countries_to_remove)]

In [31]:
# check if there is any missing value left 
data.isna().sum()

Entity                                                0
Year                                                  0
Electricity from fossil fuels (TWh)                   0
Electricity from renewables (TWh)                     0
Low-carbon electricity (% electricity)                0
Primary energy consumption per capita (kWh/person)    0
Value_co2_emissions_kt_by_country                     0
gdp_growth                                            0
gdp_per_capita                                        0
Density\n(P/Km2)                                      0
Land Area(Km2)                                        0
Latitude                                              0
Longitude                                             0
dtype: int64

In [33]:
# save cleaned data to csv file
data.to_csv('clean_data.csv', index=False)